<div class="modal fade" id="bmiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">BMI</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                BMI jest bardzo prosty w użyciu, jednak nie uwzględnia on indywidualnej budowy ciała. Jest dosyć
                niedokładnym wskaźnikiem niedowagi i nadwagi oraz ryzyk chorób z nimi związanych. Kulturyści mogą mieć
                BMI wskazujące na skrajną otyłość, posiadając jednocześnie bardzo mało tkanki tłuszczowej. Z drugiej
                strony, BMI zupełnie zdrowych, szczupłych i wysokich lekkoatletów może wskazywać na skrajną niedowagę
                (np. BMI Yohanna Diniza przy wzroście 185 cm i wadze 59 kg wyniesie 17,24).
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Rozumiem</button>
            </div>
        </div>
    </div>
</div>
